:root {
    /* color of text for walter white's activity.
       If you decide not to duplicate & create your own,
       don't forget to change the variable name & value */
    --yellow: #fff54f;
}



/* edit the body as you'd like, color, images, aligning */

body {
    text-align: center;
    background-color: #27254c;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.column {
    margin: 25px 0px;
}


/*** TITLES ***/
h1 {
    /* font size of text for walter white's activity.
     If you decide not to duplicate & create your own,
     don't forget to change the font size */
    font-size: 100px;
    color: #F2ECF8;
    font-family: jjkfont;

}

h2 {
    /* font size & family of text for walter white's activity.
     If you decide not to duplicate & create your own,
     don't forget to change the font size & family */
    font-size: 35px;
    color: #9B8AB4;
}



/*** IMAGES ***/
/* Your row = container
     Your column = items
     Hint: look into: display, flex-wrap
     justy-content, align-items, gap*/

img {
    height: 200px;
}

#firstRow img,
#secondRow img,
#thirdRow img,
#fourthRow img {
    height: 300px;
}



/*** LOLLIPOP CONTENT ***/
p {
    /* font size of text for walter white's activity.
     If you decide not to duplicate & create your own,
     don't forget to change the font size */
    font-size: 25px;
    color: #F2ECF8;
    margin: 50px;
}







/*** BUTTONS & SQUARE ***/
/* To align your images without text-align
     Look into display block & box model */

/* You can give divs a property of height */



/*** FOOTER ***/
/* To remove the bullet pts, look into list-style-type
     To have them all in one line, look into display inline */